<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
  <bean id="triangle7" class="org.saisindhu.package7.Triangle7">
      <property name="points">
        <list>
           <ref bean="zeropoint"/>
           <ref bean="onepoint"/>
           <ref bean="twopoint"/>
        </list>
           
                
      </property>
      
  </bean>

  <bean id="zeropoint" class="org.saisindhu.package7.Point7">
   <property name="x" value="0"/>
   <property name="y" value="0"/>
  </bean>
  
  <bean id="onepoint" class="org.saisindhu.package7.Point7">
    <property name="x" value="-20"/>
    <property name="y" value="0"/>
  </bean>
  
  <bean id="twopoint" class="org.saisindhu.package7.Point7">
    <property name="x" value="20"/>
    <property name="y" value="0"/>
  </bean>
  
</beans>