<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
 <bean id="triangle6" class="org.saisindhu.package6.Triangle6" name="triangle-alias">
   <property name="Point1" ref="zeropoint">
     
   </property>
   <property name="Point2">
     <bean class="org.saisindhu.package6.Pointer">
       <property name="x" value="-30"/>
       <property name="y" value="0"/>
     </bean>
   </property>
   <property name="Point3">
     <bean class="org.saisindhu.package6.Pointer">
        <property name="x" value="30"/>
        <property name="y" value="0"/>
     </bean>
   </property>
 </bean>

 <bean id="zeropoint" class="org.saisindhu.package6.Pointer">
    <property name="x" value="0"/>
    <property name="y" value="0"/>
 </bean>
 
 <bean id="mainClass" class="org.saisindhu.packag6.InnerBeanExample">
    <property name="name" value="Hello"/>
   
 </bean>
 <alias name="triangle" alias="triangle-alias"/>

</beans>